@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.Layout {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../resources/bg@3x.png");
    background-size: 100%;
}

.LoginBox {
    width: 1200px;
    height: 700px;
    margin: 190px 360px 190px 360px;
    display: inline-flex;
}

.LeftBox {
    width: 600px;
    height: 700px;
    background-color: #f2f4f8;
}

.RightBox {
    width: 600px;
    height: 700px;
    background-color: #FFFFFF;
}

.ImageBox {
    width: 510px;
    height: 414px;
    margin: 143px 40px 0 0;
    background-image: url("../resources/group-382.svg");
    background-size: 100%;
}

.CopyRight {
    margin-top: 66px;
    width: 512px;
    height: 18px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #d4d7db;
}

.LeftContainer {
    margin: 85px 0 0 80px;
}

.Title {
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.LogoIcon {
    width: 58px;
    height: 51px;
    display: inline-block;
    object-fit: contain;
}

.Logo {
    width: 183px;
    height: 23px;
    margin-left: 13px;
    padding-top: 12px;
    display: inline-block;
    object-fit: contain;
}

.Explain {
    margin: 155px 320px 0 0;
    width: 200px;
    height: 24px;
    font-family: Lato;
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333f52;
}

.EmailBox {
    margin-top: 36px;
    width: 440px;
    height: 56px;
    border-radius: 28px;
    border: solid 1px #e6e8ea;
    background-color: #ffffff;
    display: inline-flex;
}

.EmailIcon {
    margin: 16px 0 16px 24px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.EmailText {
    margin: auto 0 auto 16px;
    border: none;
    width: 352px;
    height: 20px;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    /*color: #c8cbd0;*/
}

.PwdBox {
    margin-top: 16px;
    width: 440px;
    height: 56px;
    border-radius: 28px;
    border: solid 1px #e6e8ea;
    background-color: #ffffff;
    display: inline-flex;
}

.PwdIcon {
    margin: 16px 0 16px 25px;
    width: 22px;
    height: 24px;
    object-fit: contain;
}

.PwdText {
    margin: auto 0 auto 17px;
    border: none;
    width: 352px;
    height: 20px;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    /*color: #c8cbd0;*/
}

.LoginBtn {
    margin-top: 36px;
    width: 440px;
    height: 56px;
    border-radius: 28px;
    background-color: #0072ce;
    box-shadow: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.Submit {
    width: 121px;
    height: 24px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: auto;
}

.Footer {
    margin-top: 16px;
    display: inline-flex;
}

.CheckBox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: solid 1px #aaafb6;
    margin-top: 15px;
}

.RememberMe {
    margin-top: 14px;
    margin-left: 8px;
    width: 152px;
    height: 18px;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #8c939e;

}

.Forgot {
    margin-top: 14px;
    width: 180px;
    height: 18px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #979ea8;
}

.Bar {
    margin-left: 10px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #979ea8;
}

.Register {
    margin-left: 10px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #0088fc;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

input::placeholder {
    color: #c8cbd0;
}