/*

.h2 {
    border: 3px solid rgba(175, 211,232, 0.8);
    margin: 0;
}

.row {
    display: inline-flex;
    background-color: rgba(255,124,125, 0.2);
}

.imgDiv {
    border: 3px solid rgba(123,255,136, 0.6);
}

.img {
    width: 200px;
    height: 200px;
}*/


.logo {
    margin: 16px 0 18px 10px;
}