@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.header_title {
    margin: 0 0 8px 156px;
    padding-top: 106px;
}

.header1 {
    width: 230px;
    height: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #ffffff;
}

.header_title2 {
    margin-bottom: 92px;
    margin-left: 156px;
}

.header2 {
    width: 405px;
    height: 30px;
    object-fit: contain;
}

.header_body {
    margin-bottom: 16px;
    margin-left: 156px;
}

.header3 {
    width: 610px;
    height: 24px;
    font-family: NotoSansCJKkr, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #c8cbd0;
}

.header_body2 {
    margin-bottom: 36px;
    margin-left: 156px;
}

.header4 {
    width: 1128px;
    height: 20px;
    font-family: NotoSansCJKkr, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.5px;
    color: #c8cbd0;
}

.header_footer {
    margin-left: 156px;
    width: 298px;
    height: 36px;
    border-radius: 23px;
    border: solid 1px #047bf8;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header5 {
    width: 204px;
    height: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #047bf8;
}

.arr {

}

.body1 {

}

.body_title {
    width: 610px;
    height: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #333f52;
}

.row {
    display: inline-flex;
    margin-top: 36px;
}

.cs_box {
    width: 312px;
    height: 190px;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
}

.cs_img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    margin: 0 0 22px 0;
}

.cs_title {
    width: 264px;
    height: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: #333f52;
    margin: 0 0 4px 0;
    display: inline-block;
}

.cs_text {
    width: 264px;
    height: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: #8c939e;
    margin: 0 0 0 0;
    display: inline-block;
}

.col_bar {
    width: 1px;
    border-radius: 6px;
    background-color: #e6e8ea;
}

.row_bar {
    height: 1px;
    border-radius: 6px;
    background-color: #e6e8ea;
    margin: 36px 0 36px 0;
}

.forums_box {
    width: 312px;
    height: 190px;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
}

.forums_img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    margin: 0 0 22px 0;
}

.forums_title {
    width: 264px;
    height: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: #333f52;
    margin: 0 0 4px 0;
    display: inline-block;
}

.forums_text {
    width: 264px;
    height: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: #8c939e;
    margin: 0 0 0 0;
    display: inline-block;
}

.docs_box {
    width: 312px;
    height: 190px;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
}

.docs_img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    margin: 0 0 22px 0;
}

.docs_title {
    width: 264px;
    height: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: #333f52;
    margin: 0 0 4px 0;
    display: inline-block;
}

.docs_text {
    width: 264px;
    height: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: #8c939e;
    margin: 0 0 0 0;
    display: inline-block;
}

.body2 {

}

.body_title2 {
    width: 283px;
    height: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #333f52;
    display: inline-block;
}

.box{
    width: 258px;
    height: 36px;
    border-radius: 6px;
    border: solid 1px #047bf8;
    margin-left: 450px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.mail_icon {
      width: 24px;
  height: 24px;
  object-fit: contain;
}

.body_text {
    width: 182px;
  height: 24px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: center;
  color: #047bf8;
    margin: 0 0 0 0;
}

.body_text2 {
    width: 740px;
    height: 20px;
    font-family: NotoSansCJKkr, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.5px;
    color: #aaafb6;
    margin: 10px 0 0 0;
}

.footer {
    margin: 0 156px 0 156px;
    height: 120px;
}

.footer_text {
    width: 1039px;
    height: 60px;
    font-family: NotoSansCJKkr, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #8c939e;
    margin-top: 37px;
}

.footer_text2 {
    width: 1039px;
    height: 60px;
    font-family: NotoSansCJKkr, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #8c939e;
    margin: 0 0 0 0;
}

.footer_text3 {
    width: 500px;
    height: 18px;
    font-family: NotoSansCJKkr, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.25px;
    color: #aaafb6;
    margin: 20px 0 0 0;
}